
<section class="about-container">
  <div class="about-img"style="text-align:center">
    <img src="/assets/gorditas-onprocess.jpg" alt="">
  </div>
  <div class="about-text" style="text-align:center">
    <h2>About <span style="color: #c9208a">El Colibrí</span></h2>
    <p>Our goal here at El Colibri is simple; we strive to serve our customers real Mexico City style street food that is consistently delicious and always affordable.</p>
    <p>We do this by utilizing our years of experience using traditional methods to prepare our ingredients and take pride in the preparation of every meal we serve. Our food is greatly influenced by our Mother's recipes, and believe us, we wouldn't want to let her down.</p>
    <div class="about-hyperlink">
      <a [routerLink]="['/aboutus']"> LEARN MORE ABOUT US</a>
    </div>
  </div>
</section>
