<div class="subscribe-info">
  <!-- <div> -->
  <h2>Subscribe</h2>

  <h5>Get El Colibri Alerts every week </h5>
  <p> <fa-icon [icon]="faAsterisk" class="fa-thin fa-xs" style="color: #c9208a;" ></fa-icon> indicates required fields</p>
<!-- </div> -->
      <form id="contact-form" name="contact-form">
                    <label for="name" class="">Name<fa-icon [icon]="faAsterisk" class="fa-thin fa-xs" style="color: #c9208a;" ></fa-icon></label>
                      <input type="text" id="name" name="name" class="form-control">
                    <label for="email" class="">Email<fa-icon [icon]="faAsterisk" class="fa-thin fa-xs" style="color: #c9208a;" ></fa-icon></label>
                      <input type="text" id="email" name="email" class="form-control">
      </form>
          <button type="button" href="#" class="btn btn-light" onclick="document.getElementById('contact-form').submit();">Send</button>
  </div>

