<app-navbar></app-navbar>

<header>
  <div class="container-header">
    <img class="img-header" src="/assets/Adda2022.jpg" alt="">
    <div class="centered" >
      <h1>About us</h1>
    </div>
  </div>
  </header>
  <section class="about-container" >
      <div
        id="carouselExampleAutoplaying"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner" id="carousel-fade">
          <div class="carousel-item active">
            <img
              src="/assets/CMU-Tedtalk.jpg"
              class="d-block w-100"
              alt="order tacos"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/assets/TF2022.jpg"
              class="d-block w-100"
              alt="cactus huarache"
            />
          </div>
          <div class="carousel-item">
            <img
              src="/assets/vegan-fest-2023.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img src="/assets/gorditas-onprocess.jpg" class="d-block w-100" alt="..." />
          </div>
          <div class="carousel-item">
            <img
              src="/assets/jeimy-tt.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/assets/TF2023.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/assets/Adda2022.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
          <div class="carousel-item">
            <img
              src="/assets/el-colibri-sign.jpg"
              class="d-block w-100"
              alt="..."
            />
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleAutoplaying"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <div style="text-align:center">
        <h2>Back in 2022...</h2>
        <p>El Colibri  was established with a passion for sharing the vibrant flavors and traditional recipes from the streets of Mexico. </p>

         <p>For us the decision to emphasize more plants based meals is a way to reconnect with our Indigenous roots. While fish and wild game were a part of the pre-Hispanic diet, plants formed the foundation of our Indigenous food culture. </p>
      </div>

    </section>
<app-contact></app-contact>
