
<div class="contact-info">
<div id="square">
  <h2>
    <!-- <p class="circle">.</p> -->
    Contact Us</h2>
  </div>
  <ul class="list-unstyled mb-0">
      <li class="location">
        <fa-icon [icon]="faLocation" class="fa-solid fa-lg"></fa-icon>
        <a (click)="goToLink('https://www.google.com/maps/place/Pittsburgh,+Pensilvania/@40.4313684,-79.9805005,12z/data=!3m1!4b1!4m6!3m5!1s0x8834f16f48068503:0x8df915a15aa21b34!8m2!3d40.4406248!4d-79.9958864!16zL20vMDY4cDI?entry=ttu')"> Pittsburgh, PA, USA</a>
      </li>
      <br/>
      <li><fa-icon [icon]="faPhone" class="fa-solid fa-lg"></fa-icon>
          + 01 412 616 8288
      </li>
      <br/>
      <li><fa-icon [icon]="farEnvelope" class="fa-solid fa-lg"></fa-icon>
          elcolibrillc&#64;gmail.com
      </li>
      <br/>
      <li class="social-media">
        <a (click)="goToLink('https://www.instagram.com/elcolibrillc/')"><fa-icon class="fa-solid fa-xl" [icon]="faInstagram" ></fa-icon></a>
        <a (click)="goToLink('https://www.facebook.com/elcolibrillc')"><fa-icon [icon]="faFacebook" class="fa-solid fa-xl"></fa-icon></a>
      </li>
  </ul>
</div>
